 <h2>Index View Content</h2>

<h3>All Categories</h3>

<table>

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Is Available</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Shirts</td>
        <td>Yes</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Home Applainces</td>
        <td>Noo</td>
    </tr>

</table>