@using _2_ViewsInMVC.Models
 @model List<Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5</title>
</head>
<body>
    <div> 
        <h2>Index5 View Content</h2>
        <h3>All Products</h3>

        <table border="1">
            <tr>
                <th>Id</th><th>Name</th><th>Price</th>
            </tr>

            @foreach(Product item in Model)
            {
                <tr>
                    <td>@item.Id</td><td>@item.Name</td><td>@item.Price</td>
                </tr>
            }
       
               

        </table>
    </div>
</body>
</html>
