
 @model _2_ViewsInMVC.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>
</head>
<body>
    <div>
        <h2>Index4 View Content</h2>

        <p>Id :@Model.Id</p>
        <p>Name :@Model.Name</p>
        <p>Price :@Model.Price</p>
    </div>
</body>
</html>
